@import "mixin";

html {
  height: 100% !important;
  margin: 0;
  padding: 0;

  h1, h2, p, span {
    margin: 0;
    padding: 0;
  }
}

body {
  height: 100% !important;
  margin: 0;
  padding: 0;

  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-start);
}

img {
  max-width: 200px;
  max-height: 200px;
}

.image__link {
  display: block;
  width: auto;
  height: auto;
}

.main {
  min-width: 100%;
  height: inherit;
  margin: 0 auto;

  &__header {
    display: block;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    text-align: right;
  }

  &__container {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
  }

  &__title {
    font-size: 30px;
    text-transform: uppercase;

    display: block;
    width: 100%;
    text-align: center;

    margin-top: 15px;
    margin-bottom: 20px;
  }

  &__content {
    .date__info {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(flex-start);

      margin-bottom: 10px;
    }
  }

  &__fields {
    .field__name {
      font-size: 16px;

      margin-top: 5px;
      margin-bottom: 10px;
    }
    .field__content {
      width: 700px;

      margin-bottom: 10px;
      p {
        text-align: justify;
      }
    }
  }

}
