html {
  height: 100% !important;
  margin: 0;
  padding: 0;
}

body {
  height: 100% !important;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.pdf {
  min-width: 100%;
  height: inherit;
  margin: 0 auto;
}
.pdf h2, .pdf span {
  font-size: 11px;
  color: #000;
}
.pdf span {
  font-weight: 400;
}
.pdf .header {
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pdf .header__title h1 {
  width: fit-content;
  font-size: 34px;
  font-weight: 500;
  color: #000;
  font-family: Calibri, Sans-Serif, Helvetica, Arial, serif;
}
.pdf .header__logo .logo {
  width: 200px;
  height: auto;
}
.pdf .credentials {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 70px;
}
.pdf .credentials h2 {
  margin: 0;
  margin-bottom: -2px;
}
.pdf .credentials .client__info {
  width: 210px;
}
.pdf .credentials .client__info h2 {
  margin: 0;
  margin-bottom: -2px;
}
.pdf .credentials .invoice__info h2 {
  margin: 0;
  margin-bottom: 2px;
}
.pdf .credentials .invoice__info .invoice__date {
  margin-top: 20px;
}
.pdf .credentials .order {
  margin-top: 20px;
}
.pdf .credentials .ems__info {
  width: 180px;
  margin-right: 22px;
}
.pdf .credentials .ems__title {
  margin: 0;
}
.pdf .credentials .ems__address {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 14px;
}
.pdf .credentials .ems__address span {
  margin-bottom: 5px;
}
.pdf .credentials .ems__address span:last-child {
  margin-bottom: 0;
}
.pdf .calculation {
  width: 100%;
}
.pdf .calculation .head {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pdf .calculation .head table {
  width: 97%;
  margin-right: auto;
  border-spacing: 0;
}
.pdf .calculation .head table thead {
  width: 100%;
  margin: 0;
}
.pdf .calculation .head table thead tr {
  margin: 0;
}
.pdf .calculation .head table thead tr th {
  text-align: right;
  margin: 0;
}
.pdf .calculation .head table thead tr th h2 {
  font-size: 10px;
}
.pdf .calculation .head table thead tr .thead-first {
  text-align: left;
  width: 14%;
}
.pdf .calculation .head table thead tr .thead-second {
  text-align: left;
  width: 45%;
}
.pdf .calculation .head table thead tr .head__title:first-child {
  padding-left: 5px;
}
.pdf .calculation .head table thead tr .head__title:last-child {
  padding-right: 5px;
}
.pdf .calculation .head table tbody {
  border-top: 5px solid white;
  width: 100%;
}
.pdf .calculation .head table tbody .spacer {
  height: 7px;
}
.pdf .calculation .head table tbody tr {
  margin: 0;
}
.pdf .calculation .head table tbody tr td {
  text-align: right;
  margin: 0;
}
.pdf .calculation .head table tbody tr td span {
  font-size: 10px;
}
.pdf .calculation .head table tbody tr .content__title:first-child {
  padding-left: 5px;
}
.pdf .calculation .head table tbody tr .content__title:last-child {
  padding-right: 5px;
}
.pdf .calculation .head table tbody tr .tbody-first {
  text-align: left;
  width: 14%;
}
.pdf .calculation .head table tbody tr .tbody-second {
  text-align: left;
  width: 45%;
}
.pdf .calculation .head__first {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pdf .calculation .head__first .head__title {
  margin-right: 20px;
}
.pdf .calculation .head__first .head__title:last-child {
  margin-right: 0;
}
.pdf .calculation .body {
  width: 100%;
  margin-top: 30px;
}
.pdf .calculation .body table {
  width: 300px;
  margin-left: auto;
  margin-right: 15px;
  font-size: 20px;
  color: #000;
  border-spacing: 0;
}
.pdf .calculation .body table tbody tr {
  height: 20px;
}
.pdf .calculation .body .d-1 {
  text-align: right;
}
.pdf .calculation .body .d-1 span {
  font-size: 10px;
  font-weight: 400;
}
.pdf .calculation .body .d-1 span.bold {
  font-weight: 600;
}
.pdf .calculation .body .d-2 {
  width: 55%;
  text-align: right;
}
.pdf .calculation .body .d-2 span {
  font-size: 10px;
  font-weight: 400;
}
.pdf .calculation .body .d-2 span {
  padding-right: 6px;
}
.pdf .calculation .body .d-2 span.bold {
  font-weight: 600;
}
.pdf .calculation .body .second_row {
  padding-top: 5px;
}
.pdf .bank-credentials {
  width: 600px;
  margin-top: 25px;
  line-height: 15px;
}
.pdf .bank-credentials span {
  font-size: 11px;
}

.pdf__footer {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  page-break-after: always !important;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.pdf__footer-title {
  font-size: 13px;
  font-weight: 700;
}
.pdf__footer-additional {
  margin-top: -7px;
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */
